<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  id="XSLWeb" 
  version="2.5">

  <display-name>XSLWeb</display-name>
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>nl.armatiek.xslweb.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!--
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  -->
  
  <servlet>
    <servlet-name>XSLWebServlet</servlet-name>
    <servlet-class>nl.armatiek.xslweb.servlet.XSLWebServlet</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>XSLWebServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <!--
  <listener>
    <listener-class>com.armatiek.armaedit.web.servlet.WebAppEventListener</listener-class>
  </listener>
  -->
  
</web-app>