<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p [%t] - %m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="global" class="ch.qos.logback.core.rolling.RollingFileAppender">    
    <Append>true</Append>
    <File>/xslweb-log/xslweb.log</File>
    <!-- Use the JSON logging encoder -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"application":"my_app"}</customFields>
    </encoder>
    <!-- Original encoder:
    <encoder>
      <pattern>%-5p [%t] %c{15} - [%m] %d{ISO8601}%n</pattern>
    </encoder>
    -->
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>8</maxIndex>
      <FileNamePattern>/xslweb-log/xslweb.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <appender name="pipeline" class="ch.qos.logback.core.rolling.RollingFileAppender">    
    <Append>true</Append>
    <File>/xslweb-log/pipeline.log</File>
    <encoder>
      <pattern>%-5p [%t] %c{15} - [%m] %d{ISO8601}%n</pattern>
    </encoder>    
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>8</maxIndex>
      <FileNamePattern>/xslweb-log/pipeline.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <appender name="jetty" class="ch.qos.logback.core.rolling.RollingFileAppender">    
    <Append>true</Append>
    <File>/xslweb-log/jetty.log</File>
    <encoder>
      <pattern>%-5p [%t] %c{15} - [%m] %d{ISO8601}%n</pattern>
    </encoder>    
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>8</maxIndex>
      <FileNamePattern>/xslweb-log/jetty.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <logger name="nl.armatiek.xslweb.web.servlet" level="DEBUG" additivity="false">
    <appender-ref ref="pipeline"/>
  </logger>
  
  <logger name="org.eclipse.jetty" level="INFO" additivity="false">
    <appender-ref ref="jetty"/>
  </logger>
  
  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="global"/>
  </root>
  
</configuration>