<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p [%t] - %m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="global" class="ch.qos.logback.core.rolling.RollingFileAppender">    
    <Append>true</Append>
    <File>${xslweb.home}/logs/xslweb.log</File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
        <timestampFormat>yyyy-MM-dd' 'HH:mm:ss,SSS</timestampFormat>
        <appendLineSeparator>true</appendLineSeparator>
      </layout>
    </encoder><!--
    <encoder>
      <pattern>%-5p [%t] %c - [%m] %d{ISO8601}%n</pattern>
    </encoder>-->
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>8</maxIndex>
      <FileNamePattern>${xslweb.home}/logs/xslweb.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <appender name="pipeline" class="ch.qos.logback.core.rolling.RollingFileAppender">    
    <Append>true</Append>
    <File>${xslweb.home}/logs/pipeline.log</File>
    <encoder>
      <pattern>%-5p [%t] %c - [%m] %d{ISO8601}%n</pattern>
    </encoder>    
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>8</maxIndex>
      <FileNamePattern>${xslweb.home}/logs/pipeline.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <appender name="jetty" class="ch.qos.logback.core.rolling.RollingFileAppender">    
    <Append>true</Append>
    <File>${xslweb.home}/logs/jetty.log</File>
    <encoder>
      <pattern>%-5p [%t] %c - [%m] %d{ISO8601}%n</pattern>
    </encoder>    
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>8</maxIndex>
      <FileNamePattern>${xslweb.home}/logs/jetty.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <logger name="nl.armatiek.xslweb.web.servlet" level="DEBUG" additivity="false">
    <appender-ref ref="pipeline"/>
  </logger>
  
  <logger name="org.eclipse.jetty" level="INFO" additivity="false">
    <appender-ref ref="jetty"/>
  </logger>
  
  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="global"/>
  </root>
  
</configuration>