html, body {
 width:		100%;
 height:		100%;
 padding:	0;
 margin:		0;
 overflow:	hidden !important;
}
	
#optional-container {
  width:			100%;
	height:			100%;
	margin-top:		0%;
	margin-left:	0%;
}

.ui-layout-center { overflow: hidden; }

.ui-widget {
  font-size:12px !important;
}

#tabs .ui-tabs {
  padding: 0 0 0 0;
}

#tabs .ui-tabs-panel {
  padding: 0 0 0 0;
}

#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

#newFileDlg label, #newFileDlg input { display:block; }
#newFileDlg label { margin-top: 0.5em; }
#newFileDlg input { width: 95%; }

#newFolderDlg label, #newFolderDlg input { display:block; }
#newFolderDlg label { margin-top: 0.5em; }
#newFolderDlg input { width: 95%; }

#statusPanel {
  padding: 5px;
  font-size: 90%;
  background-color: silver;
}

#filesystem {
  font-size: 90%;
}

.ui-layout-south {
  padding: 0 !important;
}

.vakata-context li > a { 
  font-size: 9pt; 
}

#toolbar fieldset {
  border: 0;
  margin-left: 0;
  padding-left: 0;
}

#dropzone {
  height: 100%;
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

#dropzone .dz-message {
  font-size: 1.5em;
}